<h1> This is my home page </h1>

<%=button_to "Download CSV", home_csv_path, method: :get %>
<%=button_to "Move To User Index", users_path, method: :get %>

<br>
<br>

<%=button_to "Download PDF", home_pdf_path, method: :get %>
<%=button_to "Move To Employee Index", employees_path, method: :get %>

<br>
<br>

<%=button_to "Send Mail", home_mail_path, method: :get %>
<%=button_to "Move To Student Index", students_path, method: :get %>

<br>
<br>

<%=button_to "Move To Image Index", images_path, method: :get %>